html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: Microsoft Yahei;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

em,
i {
  font-style: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

input {
  outline: none;
  padding: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// @media screen and (min-width: 600px) {
//   .recommend-card-list {
//     width: calc(100% / 3 - 30px);
//   }
// }
// @media screen and (min-width: 1023px) {
//   .recommend-card-list {
//     width: calc(100% / 4 - 30px);
//   }
// }
// @media screen and(min-width: 1919px) {
//   .recommend-card-list {
//     width: calc(100% / 6 - 30px);
//   }
// }
// @media screen and(min-width: 2559px) {
//   .recommend-card-list {
//     width: calc(100% / 8 - 30px);
//   }
// }
