html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: Microsoft Yahei;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
i {
  font-style: normal;
}

@media screen and(min-width: 749px) {
  .g-card-container {
    width: 1110px;
  }
}
@media screen and(min-width: 1919px) {
  .g-card-container {
    width: 1333px;
  }
}
@media screen and(min-width: 2398px) {
  .g-card-container {
    width: 1554px;
  }
}
@media screen and(min-width: 2559px) {
  .g-card-container {
    width: 1776px;
  }
}
